.home{
  position: relative;
  margin:0;
  display: block;
  width:100vw;
  height: 100vh;
  background-image: url('/assets/images/background-texture-optimized.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-content{
  position: relative;
  width:100vw;
  height: 100vh;
}


.home-block{
  position: absolute;
  height:30vw;
  width:25vh;
  img{
    position: absolute;
  }

}



.home-phonenumber{
  position: fixed;
  top:45%;
  left:40%;
  width: 40vw;
  opacity: 0;
  z-index:999;
  a{
    height:100%;
    display: block;
  }
}



//................................TOP................................

//left up
#left-top{
  left: 0px;
  height: 41vh;
  width: 34vw;
  #waiting{
    left:0;
    bottom:-1vh;
    height:100%;
  }

  #joys{
    right:0%;
    height:100%;
    width:auto;
  }
}



//center up
#center-top{
  left:37vw;
  width:33vw;
  margin-left:0;
  height:45vh;
  #fed-up{
    width: 100%;
    display: block;
    margin: auto;
    position: relative;

  }
}


//center up
#right-top{
  top:3vh;
  right:0;
  width:34vw;
  height: 45vh;
  #eight-wonder{
    width:100%;
  }

}


//................................CENTER................................
#left-center{
  left:7vw;
  width:30vw;
  top:20vh;
  #rl-grime{
    position: relative;
    width:90%;
    margin: auto;
  }
}

#center-center{
  left:50%;
  width:28vw;
  margin-left: -14vw;
  top:20vh;
  #wsn{
    position: relative;
    width:90%;
    margin: auto;
  }
}

#right-center{
  width:30vw;
  right:$margin-sides;
  top:25vh;
  #skrillex{
    position: relative;
    width:90%;
    margin: auto;
  }

}






//................................BOTTOM................................


#left-bottom{
  left:0px;
  width:60vw;
  height:55vh;
  bottom:0;
  #star{
    width:10%;
    left:0;
    top:0;
  }
  #layinggirl{
    width:88%;
    left:0;
    top:2vh;
  }
  #newnewnew{
    width: 20vw;
    top: 0vh;
    left: 13vw;
  }
  #w8ingcom{
    width: 17vw;
    top: 11vh;
    left: 19vw;
  }
  #pickyourpleasure{
    width: 18vw;
    right: 7vw;
    top: -7vh;

  }
  #phone{
    width: 18vw;
    top: 5vh;
    right: 5vw;
  }
  #nopainnogain{
    width:20vw;
    bottom:2vh;
    left:0;

  }
  #transformedtoperfection{
    width: 37vw;
    right: 3vw;
    bottom: 4vh;

  }
}



#center-bottom{
  left:calc(60vw);
  bottom:0;
  width:20vw;
  height:55vh;
  #topmarks{
    top: -14vh;
    left: -7vw;
    width: 130%;
  }
  #superclimax{
    top: 8vh;
    width: 106%;
    left: -2vw;

  }
  #intimatepleasure{
    bottom: 5vh;
    left: -4vw;
    width: 109%;
  }
}


#right-bottom{
  bottom: 0;
  right: 8px;
  width: 22vw;
  height: 55vh;
  #w8ingcom_right{
    width:90%;
    top:-5vh;
    right:0;
    @include transform-element(rotate(10deg));

  }
  #callgirl{
    width:100%;
    bottom:7vh;

  }
}













//
