<div class="home" summary="home page" id="home" ng-controller="homeCtrl">


  <div class="home-content">


<!-- up -->

    <div class="home-block" id="left-top">
      <img src="/assets/images/waitings.png" alt="waiting" id="waiting"/>
      <img src="/assets/images/joys.png" alt="joys" id="joys"/>
    </div>



    <div class="home-block" id="center-top">
      <img src="/assets/images/fed-up.png" alt="fed up" id="fed-up"/>
    </div>


    <div class="home-block" id="right-top">
      <img src="/assets/images/eigth-wonder.png" alt="eight wonder" id="eight-wonder"/>
    </div>



<!-- middle -->

<div class="home-block" id="left-center">
  <img src="/assets/images/polaroid-rlgrime.png" alt="rl grime" id="rl-grime"/>
</div>

<div class="home-block" id="center-center">
  <img src="/assets/images/polaroid-wsn.png" alt="wsn" id="wsn"/>
</div>

<div class="home-block" id="right-center">
  <img src="/assets/images/polaroid-skrillex.png" alt="skrillex" id="skrillex"/>
</div>


<!-- bottom -->


<div class="home-block" id="left-bottom">
  <img src="/assets/images/star.png" alt="star" id="star"/>

  <img src="/assets/images/laying-girl.png" alt="girl laying" id="layinggirl"/>
  <img src="/assets/images/newnewnew.png" alt="newnewnew" id="newnewnew"/>
  <img src="/assets/images/w8ingcom.png" alt="w8ingcom" id="w8ingcom"/>

  <img src="/assets/images/pickyourpleasure.png" alt="pick your pleasure" id="pickyourpleasure"/>
  <img src="/assets/images/phone.png" alt="phone" id="phone"/>
  <img src="/assets/images/nopain-nogain.png" alt="nopain-nogain" id="nopainnogain"/>
  <img src="/assets/images/transformedtoperfection.png" alt="transformed to perfection" id="transformedtoperfection"/>
</div>

 <div class="home-block" id="center-bottom">
  <img src="/assets/images/topmarks.png" alt="top marks" id="topmarks"/>
  <img src="/assets/images/super-climax.png" alt="super climax" id="superclimax"/>
  <img src="/assets/images/intimate-pleasure.png" alt="intimate pleasure" id="intimatepleasure"/>

</div>

<div class="home-block" id="right-bottom">
  <img src="/assets/images/w8ingcom.png" alt="w8ingcom" id="w8ingcom_right"/>
  <img src="/assets/images/callgirl.png" alt="callgirl" id="callgirl"/>

</div>









  </div>


</div>
