/*....................................SCSS VARIABLES..................................*/


// ........................................................FONT WEIGHTS
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 900;


// ........................................................FONT SIZES
$font-size-h1:30px;
$font-size-h2:25px;
$font-size-h3:18px;
$font-size-p: 14px;

$font-size-h1-mobile: 25px;
$font-size-h2-mobile: 20px;
$font-size-p-mobile: 12px;

// ........................................................FONT FAMILIES
// 'Playfair Display SC', serif
// font-family: 'Prata', serif;
$font-family-h1: 'Prata', serif;
$font-family-h2: 'Prata', serif;
$font-family-h3: 'Prata', serif;
$font-family-p: 'Prata', serif;



// ........................................................FONT LINEHEIGHTS
$line-height-h1: 50px;
$line-height-h2: 30px;
$line-height-h3: 30px;
$line-height-p: 24px;

$line-height-h1-mobile: 40px;
$line-height-h2-mobile: 30px;
$line-height-h3-mobile: 20px;
$line-height-p-mobile: 17px;


$letter-spacing: 1px;
$letter-spacing-h1: 2px;
$letter-spacing-h2: 0px;
$letter-spacing-h3: 1px;
$letter-spacing-paragraph:1px;


// ........................................................COLORS
$black: #000000;
$white: #FFFFFF;
$yellow: #ede611;
$green: #00FF00;
$red:#FF0000;
$pink:#f7c0cd;
$grey:#a8a8a8;


// ........................................................MARGINS
$margin-sides: 25px;
$margin-bottom: 35px;
$margin-top: 100px;
$margin-sides-mobile:10px;
$margin-left-paragraph:5px;

// ........................................................TRANSITION TIMINGS
$transition-extreme-slow: 1.4s;
$transition-slow: .6s;
$transition-medium: .4s;
$transition-fast: .2s;



// ........................................................Z-INDEXES
$z-loader:15;
$z-logo:11;
$z-cart: 13;
$z-clickOut: 12;

$z-soundcloud:10;

$z-nav:5;


/*....................................................................................*/
